html, body {
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* fact */
  .factse{
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("./image/facts.jpg") fixed center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }