html, body {
    font-weight: 400;
    background-color: #fff;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* Navbar section */
.nav-1{
position: sticky !important;
top: 0;
background-color: white;
z-index: 99999 ;
transition: 0.4s;
}
.nav-link{
  transition: all 0.2s;
  position: relative;
  color: rgb(115, 120, 131);
}
.nav-link::after{
  content: '';
  opacity: 0;
  position:absolute ;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(101 163 13);
  
}
.nav-link:hover::after{
 opacity: 1;
 
}
.nav-link:hover{
  color:rgb(101 163 13) ;
}
.nav-link1{
  transition: all 0.2s;
  position: relative;
  color: rgb(115, 120, 131);
  text-decoration: none;
  padding-top: 10px;
}
.nav-link1::after{
  content: '';
  opacity: 0;
  position:absolute ;
  transition: all 0.2s;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(101 163 13);
  
}
/* Our story */
.parent{
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;

}
.zoomimg{
  transition:all 1.1s;
}
.parent:hover .zoomimg{
  transform: scale(1.2);
}
  /* fact */
  .factse{
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("./image/cta-bg.jpg") fixed center center;
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* Donate section */
.donate{
    position: relative;
    width: 100%;
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("./image/we do.icon/donate.jpg") fixed center center;
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .placeclass{
    border: 2px solid white;
  }
  .placeclass::placeholder{
    color: white;
    
  }
  /* Event section */
  .event-text{
    position: relative;
   
}

.event-text::before {
    position: absolute;
    content: "";
    width: 2px;
    height: calc(90% - 5px);
    top: 6px;
    left: 0;
    background: rgba(0, 0, 0, .15);
}

 .event-text::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 40px;
    top: calc(46% - 20px);
    left: -1px;
    background:rgb(97, 164, 3);
}
  /* button hover */
  .btn{
    border:3px solid rgb(101 163 13);
    color: rgb(115, 120, 131);
  }
  .btn:hover{
  background-color:rgb(97, 164, 3) ;
  color: white;
  }
  .btn1{
    background-color:  rgb(101 163 13);
    color: white;
  }
  .btn1:hover{
  background-color:white;
  color:rgb(101 163 13);
  }
  .btn2{
    background-color:  rgb(101 163 13);
    color: white;
    border: 0;
  }
  .btn2:hover{
  background-color:white;
  color:rgb(101 163 13);
  border: 3px solid rgb(97, 164, 3);
  }
  .btn3{
    background-color:  rgb(101 163 13);
    color: white;
    border: 0;
  }
  .btn3:hover{
  background-color:rgb(190, 220, 148);
  color:rgb(66, 111, 2);
  }
  .btn4{
    background-color:  rgb(101 163 13);
    color: white;
    width: 31%;
    border: 2px solid white;
  }
  .btn4:hover{
  background-color:white;
  color:rgb(101 163 13);
  border: 3px solid rgb(97, 164, 3);
  }
  .btn5{
    background-color:  rgb(101 163 13);
    color: white;
    width:100%;
    border: 2px solid white;
  }
  .btn5:hover{
  background-color:white;
  color:rgb(101 163 13);
  border: 3px solid rgb(97, 164, 3);
  }
  .btn6{
    background-color:white;
    color:rgb(97, 164, 3) ;
    width:31%;
    border: 2px solid white;
  }
  .btn6:hover{
  background-color:rgb(97, 164, 3);
  color:white;
  border: 3px solid white;
  }
